<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stictch.dao.ArticleDao">
    <resultMap id="base" type="com.stictch.entity.Article">
        <id property="articleId" jdbcType="INTEGER" column="article_id"/>
        <result property="bigTitle" column="article_big_title" jdbcType="VARCHAR"/>
        <result property="smallTitle" column="article_small_title" jdbcType="VARCHAR"/>
        <result property="content" column="article_content" jdbcType="VARCHAR"/>
        <result property="image" column="article_image" jdbcType="VARCHAR"/>
        <result property="video" column="article_video" jdbcType="VARCHAR"/>
        <result property="uploadUserId" column="article_upload_user_id" jdbcType="INTEGER"/>
    </resultMap>
</mapper>