<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stictch.dao.CompanyUserDao">
    <resultMap id="result" type="com.stictch.entity.CompanyUser">

    </resultMap>
</mapper>