<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stictch.dao.JobPublishDao">
    <resultMap id="base" type="com.stictch.entity.JobPublish">
        <id property="publishId" jdbcType="INTEGER" column="publish_id"/>
        <result property="phone" column="role_id" jdbcType="INTEGER"/>
        <result property="user" column="publish_user" jdbcType="VARCHAR"/>
        <result property="time" column="publish_time" jdbcType="VARCHAR"/>
        <result property="basic" column="publish_required_basic" jdbcType="VARCHAR"/>
        <result property="specialRequired" column="publish_required_special" jdbcType="INTEGER"/>
    </resultMap>
    <parameterMap id="param" type="com.stictch.entity.JobPublish">
        <parameter property="basic" resultMap="base"/>
    </parameterMap>
    <insert id="addJob">
        insert into job_publish(publish_user, publish_time, publish_required_basic,
                                publish_required_special, publish_phone)
        values (#{user}, #{time}, #{basic}, #{specialRequired}, #{phone});
    </insert>
    <update id="updateJob" parameterType="com.stictch.entity.JobPublish">
        update job_publish set where 1=1
        <if test="phone != null">
            publish_phone = #{phone}
        </if>
        <if test="user = null">
            publish_user = #{user}
        </if>
        <if test="basic != null">
            publish_required_basic=#{basic}
        </if>
        <if test="specialRequired != null">
            publish_required_special=#{specialRequired}
        </if>
        where publish_id = #{publishId}
    </update>
    <delete id="deleteJob">
        delete
        from job_publish
        where publish_id = #{id}
    </delete>
    <select id="findAllJob" resultMap="base">
        select job_publish.*
        from job_publish
    </select>
</mapper>